body {
  background-color: rgb(56, 8, 90);
}

body h1 {
  color: rgb(56, 8, 90);
}

body h2 {
  color: rgb(173, 98, 196);
}

body h3 {
  color: rgb(173, 98, 196);
}

.cor-fundo {
  background-color: rgb(173, 98, 196);
}
